.jokes-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.jokes-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.jokes-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jokes-header .home-link {
  font-family: var(--font-display);
  font-size: 3rem;
}

.jokes-header .home-link a {
  color: var(--color-foreground);
}

.jokes-header .home-link a:hover {
  text-decoration: none;
}

.jokes-header .logo-medium {
  display: none;
}

.jokes-header a:hover {
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

.jokes-header .user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.jokes-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
}

.jokes-main .container {
  height: 100%;
  display: flex;
  gap: 1rem;
}

.jokes-list {
  max-width: 12rem;
}

.jokes-outlet {
  flex: 1;
}

.jokes-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.search-container {
  width: 60%;
  position: relative;
}

.search-results {
  z-index: 1;
  width: 100%;
  border: 1x solid #8a4fff;
  border-radius: 8px;
  background-color: #8a4fff;
  position: absolute;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.user {
  padding: 10px;
  cursor: pointer;
}

.user:hover {
  background-color: #6d1fbc;
}

.jokes-container {
  margin-top: 20px;
}

.jokes-container h2 {
  margin-bottom: 10px;
}

.jokes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.joke-card {
  background-color: #8a4fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.joke-card p {
  margin: 0;
}

.jokes-container ul {
  list-style-type: none;
  padding: 0;
}

.jokes-container li {
  margin-bottom: 5px;
}


@media print, (min-width: 640px) {
  .jokes-header .logo {
    display: none;
  }

  .jokes-header .logo-medium {
    display: block;
  }

  .jokes-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 639px) {
  .jokes-main .container {
    flex-direction: column;
  }
}
